.section__about {
  background-color: #ffffff;
  padding: 3rem 2rem;
  @include big-desktop {
    display: flex;
    justify-content: space-between;
    padding: 3rem 15rem;
  }
  .section__about__text {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 55%;
    .about__subtitle {
      color: $blue;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .about__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      @include tablet {
        font-size: 3rem;
      }
    }
    .about__p {
      padding-top: 1.3rem;
      color: $blue-dark;
      @include tablet {
        font-size: 1.1rem;
      }
      @include big-desktop {
        font-size: 1.3rem;
      }
      .about__bold {
        font-weight: bold;
      }
    }
    .about__p:first-of-type {
      font-size: 1.4rem;
    }
  }
  .section__about__table {
    background-color: #fff;
    margin-top: 2rem;
    border: 1px solid #e7e8ff;
    border-radius: 4px;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
    @include desktop {
      margin-top: 0;
      display: flex;
      flex-flow: column nowrap;
      flex-basis: 40%;
    }
    .table__h1 {
      color: $main-color;
      padding: 1rem 0;
      border-bottom: 1px solid #e7e8ff;
      padding: 1rem;
    }
    .table__ul {
      list-style: none;
      .table__item {
        padding: 1rem;
        border-bottom: 1px solid #e7e8ff;
        .table__link {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          align-items: center;
          color: $blue;
          @include tablet-land {
            font-size: 1.2rem;
          }
        }
        .table__arrow {
          color: $blue;
        }
      }
    }
  }
}

.section__spread {
  padding: 3rem 2rem;
  @include big-desktop {
    padding: 3rem 15rem;
  }
  .spread__titles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .spread__span {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .spread__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
  }
  .spread__p {
    padding-top: 1rem;
    text-align: center;
    color: $blue-dark;
    @include tablet {
      font-size: 1.1rem;
    }
    @include big-desktop {
      font-size: 1.2rem;
    }
  }
  .spread__container {
    display: flex;
    flex-flow: column nowrap;
    @include tablet {
      padding: 0 4rem;
    }
    @include tablet-land {
      padding: 0 8rem;
    }
    @include desktop {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;
    }
    @include big-desktop {
      margin-top: 3rem;
    }
    .spread__card {
      display: flex;
      flex-flow: column nowrap;
      background-color: #fff;
      box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
      border-radius: 4px;
      margin-top: 1.5rem;
      @include desktop {
        margin: 1.5rem 1rem 0rem 1rem;
      }
      .card__img {
        max-width: 100%;
        height: auto;
        border-bottom: 6px solid $blue-card;
      }
      .card__title {
        padding: 1rem;
        color: $blue;
        font-size: 1.2rem;
        @include big-desktop {
          font-size: 1.3rem;
        }
      }
      .card__p {
        color: $blue-dark;
        padding: 0 1rem 2rem 1rem;
        @include big-desktop {
          font-size: 1.2rem;
        }
      }
    }
  }
  .spread__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    .spread__btn {
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      align-items: center;
      white-space: nowrap;
      padding: 0.8rem 1.2rem;
      margin-top: 0;
      @include tablet {
        font-size: 1.2rem;
      }
    }
  }
}

.section__symptoms {
  padding: 3rem 2rem;
  background-color: #fff;
  @include big-desktop {
    padding: 3rem 15rem;
  }
  .symptoms__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .symptoms__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .symptoms__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
    .symptoms__p {
      padding-top: 1rem;
      text-align: center;
      color: $blue-dark;
      margin-bottom: 4rem;
      @include tablet {
        font-size: 1.1rem;
      }
    }
  }
  .symptoms__container {
    @include tablet {
      padding: 0 4rem;
    }
    @include tablet-land {
      padding: 0 8rem;
    }
    @include desktop {
      padding: 0;
      display: flex;
      margin-top: 1rem;
    }
    @include big-desktop {
      margin-top: 3rem;
    }
    .symptoms__card {
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      margin-bottom: 4rem;
      padding: 2rem 1rem;
      background-color: #fff;
      box-shadow: 0px 5px 40px 0px rgba(70, 86, 117, 0.08);
      .symp__card__title {
        font-size: 1rem;
        color: $blue;
        @include tablet-land {
          font-size: 1.2rem;
        }
        @include desktop {
          font-size: 1.1rem;
        }
        @include big-desktop {
          font-size: 1.3rem;
        }
      }
      .symp__card__text {
        color: $blue-dark;
        padding-top: 0.5rem;
        @include tablet-land {
          font-size: 1rem;
        }
        @include big-desktop {
          font-size: 1.2rem;
        }
        .symp__card__span {
          font-weight: bolder;
        }
      }
      .symp__card__img {
        max-width: 100%;
        height: auto;
        position: absolute;
        right: 1.875rem;
        top: -1.875rem;
        width: 3.5rem;
        border-radius: 50%;
        @include tablet {
          width: 4.2rem;
        }
        @include tablet-land {
          width: 4.5rem;
        }
      }
    }
  }
  .symptoms__stayhome {
    .stayhome__text {
      margin-top: -2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      color: $blue-dark;
      @include tablet {
        font-size: 1.1rem;
      }
      @include big-desktop {
        margin-top: 0;
        padding: 0 15rem;
      }
      .stayhome__icon {
        color: $blue;
        font-size: 3rem;
        @include tablet {
          font-size: 3.5rem;
        }
      }
      .stayhome__span {
        color: $blue;
        padding-top: 0.5rem;
      }
    }
    .stayhome__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      .stayhome__btn {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        align-items: center;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
        margin-top: 0;
        @include tablet {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.section__protect {
  padding: 3rem 2rem;
  @include big-desktop {
    padding: 3rem 15rem;
  }
  .protect__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .protect__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .protect__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
    .protect__p {
      padding-top: 1rem;
      text-align: center;
      color: $blue-dark;
      @include tablet {
        font-size: 1.1rem;
      }
      .protect__p-bold {
        font-weight: bold;
      }
    }
  }
  .protect__container {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem 3rem;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    @include big-desktop {
      margin-top: 3rem;
    }
    .protect__card {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-top: 3rem;
      .card__img {
        max-width: 100%;
        height: auto;
        box-shadow: 0px 4px 35px 0px rgba(70, 86, 117, 0.15);
        border-radius: 50%;
        width: 8rem;
      }
      .card__title {
        color: $blue-dark;
        padding-top: 1rem;
        @include tablet {
          text-align: center;
        }
      }
      .card__p {
        padding-top: 0.5rem;
        color: $blue-dark;
        text-align: center;
      }
    }
  }
  .protect__links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include tablet {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-top: 2rem;
    }
    @include tablet-land {
      justify-content: space-around;
    }
    @include desktop {
      padding-top: 4rem;
    }
    @include big-desktop {
      justify-content: center;
    }
    .protect__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      @include tablet {
        margin-top: 0rem;
      }
      @include big-desktop {
        padding-right: 1rem;
      }
      .protect__btn {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        align-items: center;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
        margin-top: 0;
        @include tablet {
          font-size: 1.1rem;
        }
      }
    }
    .protect__qa-link {
      font-size: 0.8rem;
      text-decoration: none;
      color: $blue;
      white-space: nowrap;
      padding-top: 1rem;
      display: flex;
      align-items: center;
      @include tablet {
        font-size: 1.2rem;
        padding-top: 0rem;
      }
      @include big-desktop {
        padding-left: 1rem;
      }
      .fa-arrow-right {
        padding-left: 0.5rem;
      }
    }
    .protect__qa-link:hover {
      color: $blue-active;
    }
  }
  .protect__label {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 3rem;
    background-color: #fff;
    padding: 1.5rem 1rem;
    box-shadow: 0px 4px 35px 0px rgba(70, 86, 117, 0.15);
    @include desktop {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    @include big-desktop {
      margin-top: 6rem;
    }
    .label__title {
      color: $blue-dark;
      @include tablet-land {
        font-size: 1.5rem;
      }
    }
    .protect__ul {
      margin-top: 1rem;
      padding-left: 1.3rem;
      @include desktop {
        margin-top: 0;
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 50%;
      }
      @include big-desktop {
        justify-content: space-evenly;
        flex-basis: 70%;
      }
      .protect__li {
        padding-top: 1rem;
        color: $blue-dark;
        @include tablet-land {
          font-size: 1.1rem;
        }
        .protect__li-span {
          font-weight: bold;
        }
        .protect__li-link {
          color: $blue;
        }
      }
      .protect__li::marker {
        color: $blue;
        font-size: 1.5rem;
      }
    }
    .protect__img-steps {
      padding-top: 2rem;
      @include tablet {
        padding: 2rem 4rem;
      }
      @include tablet-land {
        padding: 2rem 8rem;
      }
      @include desktop {
        padding: 0;
        max-width: 45%;
      }
      @include big-desktop {
        max-width: 25%;
      }
    }
  }
  .protect__hands {
    padding-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include big-desktop {
      margin: 3rem 0;
    }
    .hands__title {
      color: $blue-dark;
      @include tablet {
        font-size: 2rem;
      }
    }
    .hands__link {
      font-size: 0.8rem;
      text-decoration: none;
      color: $blue;
      white-space: nowrap;
      padding-top: 1rem;
      display: flex;
      align-items: center;
      @include tablet {
        font-size: 1.2rem;
      }
      .fa-arrow-right {
        padding-left: 0.5rem;
      }
    }
    .hands__link:hover {
      color: $blue-active;
    }
    .hands__container {
      padding-top: 2rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      @include big-desktop {
      }
      .hands__card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        @include big-desktop {
          padding: 1rem 2rem;
        }
        .hands__img {
          max-width: 100%;
          height: auto;
          box-shadow: 0px 4px 35px 0px rgba(70, 86, 117, 0.15);
          border-radius: 50%;
          width: 6rem;
          @include tablet {
            width: 7rem;
          }
          @include tablet-land {
            width: 8rem;
          }
          @include desktop {
            width: 7rem;
          }
          @include big-desktop {
            width: 9rem;
          }
        }
        .hands__img-title {
          padding-top: 1rem;
          color: $blue-dark;
          font-size: 1rem;
          @include big-desktop {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.section__treatment {
  background-image: url("/img/shape.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-color: #2766bb;
  text-align: left;
  padding: 3rem 2rem;
  @include desktop {
    display: flex;
  }
  @include big-desktop {
    padding: 8rem 15rem;
  }
  .treatment__texts {
    display: flex;
    flex-flow: column nowrap;
    @include desktop {
      justify-content: center;
    }
    @include big-desktop {
      margin-right: 3rem;
    }
    .treatment__subtitle {
      color: #73e3ff;
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .treatment__title {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.25rem;
      font-family: $accent-font;
      font-weight: 700;
      line-height: 1.3;
    }
  }
  .treatment__p {
    padding-top: 1.5rem;
    color: #ced4ff;
    @include tablet {
      font-size: 1.1rem;
    }
    .treatment__span {
      color: #fff;
      font-weight: bold;
    }
  }
  .treatment__card {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1b47a1;
    margin-top: 2rem;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: #fff;
    @include desktop {
      margin-top: 0;
    }
    .treatment__card-title {
      font-weight: bold;
      padding-top: 1rem;
      @include tablet-land {
        font-size: 1.5rem;
      }
    }
    .treatment__card-text {
      padding-top: 0.5rem;
    }
    .treatment__ul {
      margin-top: 0.3rem;
      padding-left: 1.3rem;
      .treatment__li {
        padding-top: 0.5rem;
      }
    }
  }
}

.section__dont {
  padding: 3rem 2rem;
  @include big-desktop {
    padding: 3rem 15rem;
  }
  .dont__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .dont__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .dont__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
    .dont__p {
      padding-top: 1rem;
      text-align: center;
      color: $blue-dark;
      @include tablet {
        font-size: 1.1rem;
      }
      @include big-desktop {
        padding: 1rem 20rem;
      }
    }
  }
  .do_dont__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: center;
    padding-top: 2rem;
    @include tablet {
      padding-top: 0;
    }
    @include big-desktop {
      flex-flow: row nowrap;
      justify-content: center;
    }
    .dont__heroimg {
      max-width: 100%;
      height: auto;
      padding-top: 2rem;
      @include tablet {
        padding: 2rem 4rem;
      }
      @include tablet-land {
        padding: 2rem 8rem;
      }
      @include desktop {
        padding: 2rem 8rem;
      }
      @include big-desktop {
        padding: 2rem 2rem;
        max-width: 50%;
        order: 2;
      }
    }
    .box__container {
      @include tablet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      @include desktop {
        margin: 0;
        justify-content: space-around;
      }
      @include big-desktop {
        flex-flow: column nowrap;
      }
      .box__wrapper-left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        @include tablet {
          padding-top: 2rem;
        }
        @include big-desktop {
          flex-flow: row nowrap;
        }
        .box__title {
          color: $blue;
          font-size: 1rem;
          margin-bottom: 1.5rem;
          @include tablet {
            text-align: left;
          }
          @include tablet-land {
            margin-bottom: 2rem;
          }
          @include big-desktop {
            margin: 0 1rem 0 0;
          }
        }
        .box__gfx {
          position: relative;
          .box__img {
            border: 2px solid $blue;
            border-radius: 50%;
            width: 7rem;
          }
        }
        .box__gfx::after {
          content: "\2716";
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          font-size: 1.2rem;
          color: #fff;
          position: absolute;
          background: #f86168;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -1rem;
          left: 2.5rem;
        }
        .box__gfx::before {
          @include big-desktop {
            position: absolute;
            top: 50%;
            left: 115%;
            width: 125px;
            content: "";
            border-bottom: 2px dashed #7fb3f2;
          }
        }
      }
      .box__wrapper-right {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        @include tablet {
          padding-top: 2rem;
        }
        @include big-desktop {
          flex-flow: row-reverse nowrap;
          justify-content: space-between;
        }
        .box__title {
          color: $blue;
          font-size: 1rem;
          margin-bottom: 1.5rem;
          @include tablet {
            text-align: right;
          }
          @include tablet-land {
            margin-bottom: 2rem;
          }
          @include big-desktop {
            margin: 0 0 0 1rem;
          }
        }
        .box__gfx {
          position: relative;
          .box__img {
            border: 2px solid $blue;
            border-radius: 50%;
            width: 7rem;
          }
        }
        .box__gfx::after {
          content: "\2714";
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          font-size: 1.2rem;
          color: #fff;
          position: absolute;
          background: #3dca93;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -1rem;
          right: 2.5rem;
        }
        .box__gfx::before {
          @include big-desktop {
            position: absolute;
            top: 50%;
            right: 115%;
            width: 125px;
            content: "";
            border-bottom: 2px dashed #7fb3f2;
          }
        }
      }
    }
    .box__container:nth-of-type(2) {
      @include big-desktop {
        order: 3;
      }
    }
  }
}

.section__faq {
  padding: 3rem 2rem;
  background-color: #fff;
  .faq__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .faq__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .faq__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
  }
  .faq__answers {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    @include big-desktop {
      padding: 2rem 25rem;
    }
    .answers__ul {
      list-style: none;
      border: 2px solid #e7e8ff;
      .answers__li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        border-radius: 4px;
        padding: 1.5rem;
        color: $blue-dark;
        font-size: 0.9rem;
        background: #f7fafe;
        font-weight: bold;
        @include tablet {
          font-size: 1rem;
        }
        @include big-desktop {
          font-size: 1.2rem;
        }
      }
      .answers__li::after {
        content: "\002B";
        position: absolute;
        top: 0.2rem;
        right: 0.7rem;
        color: $blue-dark;
        font-size: 1.3rem;
        @include big-desktop {
          font-size: 1.5rem;
        }
      }
      .answers__li:hover::after,
      .answers__li:hover {
        color: $blue;
        cursor: pointer;
      }
      .answers__li:not(:last-child) {
        border-bottom: 1px solid #e7e8ff;
      }
      .answers__hidden {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        .hidden__text {
          padding: 0.8rem 1rem 0.8rem 1.5rem;
          color: $blue-dark;
          line-height: 1.5;
          @include big-desktop {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.section__news {
  padding: 3rem 2rem;
  @include big-desktop {
    padding: 3rem 15rem;
  }
  .news__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .news__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    .news__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
      @include tablet {
        font-size: 3rem;
      }
    }
  }
  .news__container {
    @include desktop {
      display: flex;
    }
    .news__card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
      border-radius: 5px;
      @include tablet {
        margin: 2rem 2rem 0 2rem;
      }
      @include tablet-land {
        margin: 2rem 4rem 0 4rem;
      }
      @include desktop {
        margin: 2rem 1rem 0 1rem;
      }
      .news__img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
      }
      .news__card-title {
        padding-top: 1rem;
        font-size: 1rem;
        color: $blue-dark;
        @include tablet {
          font-size: 1.2rem;
        }
      }
      .news__card-text {
        color: $blue-dark;
        text-align: center;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        @include tablet {
          font-size: 1rem;
        }
      }
    }
  }
}
