.section__about {
  background-color: #ffffff;
  padding: 3rem 2rem;
  .section__about__text {
    .about__subtitle {
      color: $blue;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
    }
    .about__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
    }
    .about__p {
      padding-top: 1.3rem;
      color: $blue-dark;
      .about__bold {
        font-weight: bold;
      }
    }
  }
  .section__about__table {
    background-color: #fff;
    margin-top: 2rem;
    border: 1px solid #e7e8ff;
    border-radius: 4px;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
    .table__h1 {
      color: $main-color;
      padding: 1rem 0;
      border-bottom: 1px solid #e7e8ff;
      padding: 1rem;
    }
    .table__ul {
      list-style: none;
      .table__item {
        padding: 1rem;
        border-bottom: 1px solid #e7e8ff;
        .table__link {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          align-items: center;
          color: $blue;
        }
        .table__arrow {
          color: $blue;
        }
      }
    }
  }
}

.section__spread {
  padding: 3rem 2rem;
  .spread__titles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .spread__span {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
    }
    .spread__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
    }
  }
  .spread__p {
    padding-top: 1rem;
    text-align: center;
    color: $blue-dark;
  }
  .spread__container {
    display: flex;
    flex-flow: column nowrap;
    .spread__card {
      display: flex;
      flex-flow: column nowrap;
      background-color: #fff;
      box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
      border-radius: 4px;
      margin-top: 1.5rem;
      .card__img {
        max-width: 100%;
        height: auto;
        border-bottom: 6px solid $blue-card;
      }
      .card__title {
        padding: 1rem;
        color: $blue;
        font-size: 1.2rem;
      }
      .card__p {
        color: $blue-dark;
        padding: 0 1rem 2rem 1rem;
      }
    }
  }
  .spread__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    .spread__btn {
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      align-items: center;
      white-space: nowrap;
      padding: 0.8rem 1.2rem;
      margin-top: 0;
    }
  }
}

.section__symptoms {
  padding: 3rem 2rem;
  background-color: #fff;
  .symptoms__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .symptoms__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
    }
    .symptoms__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
    }
    .symptoms__p {
      padding-top: 1rem;
      text-align: center;
      color: $blue-dark;
      margin-bottom: 4rem;
    }
  }
  .symptoms__container {
    .symptoms__card {
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      margin-bottom: 4rem;
      padding: 1rem;
      background-color: #fff;
      box-shadow: 0px 5px 40px 0px rgba(70, 86, 117, 0.08);
      .symp__card__title {
        font-size: 1rem;
        color: $blue;
      }
      .symp__card__text {
        color: $blue-dark;
        padding-top: 0.5rem;
        .symp__card__span {
          font-weight: bolder;
        }
      }
      .symp__card__img {
        max-width: 100%;
        height: auto;
        position: absolute;
        right: 1.875rem;
        top: -1.875rem;
        width: 3.5rem;
        border-radius: 50%;
      }
    }
  }
  .symptoms__stayhome {
    .stayhome__text {
      margin-top: -2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      color: $blue-dark;
      .stayhome__icon {
        color: $blue;
        font-size: 3rem;
      }
      .stayhome__span {
        color: $blue;
        padding-top: 0.5rem;
      }
    }
    .stayhome__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      .stayhome__btn {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        align-items: center;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
        margin-top: 0;
      }
    }
  }
}

.section__protect {
  padding: 3rem 2rem;
  .protect__texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .protect__subtitle {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
    }
    .protect__title {
      font-family: $accent-font;
      color: $main-color;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 3rem;
      text-align: center;
    }
    .protect__p {
      padding-top: 1rem;
      text-align: center;
      color: $blue-dark;
      .protect__p-bold {
        font-weight: bold;
      }
    }
  }
  .protect__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
    .card__img {
      max-width: 100%;
      height: auto;
      box-shadow: 0px 4px 35px 0px rgba(70, 86, 117, 0.15);
      border-radius: 50%;
      width: 8rem;
    }
    .card__title {
      color: $blue-dark;
      padding-top: 1rem;
    }
    .card__p {
      padding-top: 0.5rem;
      color: $blue-dark;
      text-align: center;
    }
  }
  .protect__links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .protect__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      .protect__btn {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        align-items: center;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
        margin-top: 0;
      }
    }
    .protect__qa-link {
      font-size: 0.8rem;
      text-decoration: none;
      color: $blue;
      white-space: nowrap;
      padding-top: 1rem;
      @include tablet {
        font-size: 1.2rem;
      }
      .fa-arrow-right {
        padding-left: 0.5rem;
      }
    }
    .protect__qa-link:hover {
      color: $blue-active;
    }
  }
  .protect__label {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 3rem;
    background-color: #fff;
    padding: 1.5rem 1rem;
    box-shadow: 0px 4px 35px 0px rgba(70, 86, 117, 0.15);
    .label__title {
      color: $blue-dark;
    }
    .protect__ul {
      margin-top: 1rem;
      padding-left: 1.3rem;
      .protect__li {
        padding-top: 1rem;
        color: $blue-dark;
        .protect__li-span {
          font-weight: bold;
        }
        .protect__li-link {
          color: $blue;
        }
      }
      .protect__li::marker {
        color: $blue;
        font-size: 1.5rem;
      }
    }
    .protect__img-steps {
      padding-top: 2rem;
    }
  }
}
