@import "mixins";

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f9fe;
  font-size: 16px;
  font-family: $main-font;
  @include big-desktop {
    padding: 0 15rem;
  }
}

.blocked {
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem 2rem !important;
  background-color: #fff;
  transition: all 0.3s;
  box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
  @include desktop {
    padding: 1.5rem 15rem;
  }
}

.global__btn {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  background-color: $blue;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  @include tablet-land {
    padding: 0.5rem 1rem;
    margin-top: 0;
  }
}

.global__btn:hover {
  background-color: $blue-active;
  cursor: pointer;
}

.global__btn-link {
  text-decoration: none;
}
